Library
/Assets/Project/*.meta
/Assets/Project/Resources/*.meta
/Assets/Project/Scenes/*.meta
/Assets/Project/Scripts/*.meta
/Assets/Project/Scripts/Game/*.meta
/Assets/Project/Scripts/Game/Board/*.meta
/Assets/*.meta
